<section class="section">
  <div class="container">
    <h1 class="title">Recover your account</h1>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Email" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Reset Password</button>
      </div>
      <div class="control">
        <a
          class="button is-link is-light"
          [routerLink]="['../login']"
          routerLinkActive="router-link-active"
          >Cancel</a
        >
      </div>
    </div>
  </div>
</section>
